/* .donut-charts-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donut-chart {
    margin-bottom: 20px; 
  }
  
  .chart-title {
    text-align: center;
    margin-bottom: 10px; 
  }
   */