.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

.mainWrapper {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 330px;  /* Adjust this width as needed, increased from 250px */
  background-color: #282c34;
  flex-grow: 1;  /* This will make the sidebar take up all available space */
  /* color: white; */
  padding: 4px;
  box-sizing: border-box;
  overflow-y: auto; /* Allow scrolling only if content exceeds the height */
}

.content {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
}

/* Other styles remain unchanged */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
